a{
  font-family: "Google Sans Display",sans-serif;
  float:left;
  font-size: 18px;
  display:block;
  display:inline;
  padding: 16px;
  margin: 10px;
  margin-top: 25px;

  color:#5196f0;
  background-color: #9ef47b;
  border-radius: 10px;
}
.alignright{
  float: right !important;

}
.backgroundcolor{
  <-->#38da7e</-->;
}
nav{
  background-color: #184A45;
;


}
a:link{
  text-decoration: none;
}
a:hover{
  background-color: #78bd63;
}
.active {
  background-color: #4CAF50;
  color: white;
}
ul{
  list-style-type : none;
  margin:0;
  overflow: hidden;
  padding: 0;
  background-color: #2596be;
  position:sticky !important;
  width:100%;
}
h2{
  font-family: sans-serif;

}
body{
  background-color: #1352b0;
  <-->green</-->
}
.intro{
  text-align: center;
  font-family: "Comfortaa";
  font-size: 48px;
  color:#ffffff;
  margin:40px;
}

.backgroundinfo{
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  color:#FFFFFF;

}
.reee{
  background-color: #FC766A;
  color: white;
}
.contactlink{
  background-color: #4d4dff!important;

}
.contactlink:hover{
  background-color: #003366!important;
}
.centercenter{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.toplogo{
  width:100px;
  display:block;
  margin-left: 0px;
  margin-right: auto;
  margin:none!important;
}
#icantcomeupwithaname{
  list-style-type : none;
  margin:0;

  padding: 0;
  background-color: #FFFFFF!important;
  position:sticky !important;
;
}
#cantcomeup{
    background-color: #c3ffdf !important;
      padding: 0!important;
      margin-top:auto!important;
      margin-bottom:auto!important;
}
whitebackground{
  background-color: #afffb4;
}
